// About section
.about {
  background-color: $bg-secondary;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  @include container;
}

.about-image img {
  display: block;
  margin: auto;
  width: 90%;
  max-width: 800px;
  border-radius: $border-radius-lg;
  box-shadow: $shadow-md;
}

.about-text {
  flex: 1 1 300px;

  p {
    text-indent: 4rem;
    font-size: $font-size-xl;
    line-height: 1.8;
  }

  h2 {
    font-size: $font-size-5xl;
    margin-bottom: $spacing-xl;
  }
}
